@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

*{
  margin:0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

body{
  overflow-x: hidden;
}

a{
  text-decoration: none;
}
.hero{
    width: 100vw;
    height: 70vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.1)),url(img/images2.jpg);
    background-position: center;
    background-size: cover;
    overflow: hidden;
    position: relative;
}

.nav-bar{

    position: fixed;
    width: 100vw;
    display: grid;
    grid-template-columns: 200px auto 200px;
    height: 100px;
    align-items: center;
    z-index: 3;
    background-image: linear-gradient(rgba(0, 0, 0, 0.95),rgba(0, 0, 0, 0.3));


}

.nav-logo{
  justify-self:center;
}

.nav-logo img{
  width: 60px;
  justify-self:center;
}

.nav-links{
  flex:1;
}

.nav-links ul{

  margin-left: 50px;
  display:inline;
  /* float: right; */
}

.nav-links ul li{
  list-style: none;
  display:inline-block;
  padding: 8px 25px;
}

.nav-links ul a{

  font-weight: 700;
  color: white;
  text-decoration: none;
  font-size:14px;
}

.nav-links ul li::after{
  content: '';
  width: 0;
  height: 2px;
  background: yellow;
  display: block;
  margin: auto;
  transition: .5s;
}

.nav-links ul li:hover::after{
  width: 100%;
}

.btn{
  font-size: 16px;
  font-weight: 700;
  padding: 10px 30px;
  border:0;
  background: #00AC43;
  cursor: pointer;
  color: white;
  text-align: center;

}

.nav-bar .btn{
  justify-self:center;

}

.banner-title{
  margin: 180px 130px;
  color: white;

}

.banner-title h1{
  font-size: 64px;
  margin-bottom: 30px;
  font-weight: 900;
}

.banner-title span{
  color: yellow;
}

.social-icons{

  height: 25%;
  width: 80px;
  background: yellow;
  text-align: center;
  padding-top: 10px;
  bottom:30%;
  position: absolute;
}

.social-icons a{
  list-style-type: none;
  text-decoration: none;
  color:black;

}
.social-icons .fa{

  margin: 15px 23px;
  display: block;
  padding:8px;
  border: 1px solid #000;
  border-radius: 50%;
  cursor: pointer;
}

.grid{
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(11, 1fr);
	min-height:100vh;
  grid-gap: 20px;
  background-color: #00AC43;
}

.grid_empty{
  display: grid;
}

.caption{
font-size: 60px;
font-weight: 800;
text-align: left;
/* align vertically - align horizontally use justify-self (baseline, left, center,right) */
align-self: center;
padding: 100px;
color: #fff;
}

/* .caption a{
  text-align: center;
  align-self: end;
  padding: 25px;
} */

.title_articles{
  font-size: 26px;
  line-height: 35px;
  font-weight: bold;
  padding-left: 100px;
  padding-top: 50px;
  color: #004382;

}

.text_articles{
font-size: 16px;
line-height: 25px;
font-weight: normal;
padding-left: 100px;
padding-top: 50px;
color: #fff;


}

.one {
	/* border:1px solid #ff0000;
	background-color: #ff9999; */
  display: grid;
  grid-row-start:1;
  grid-row-end:1;
	grid-column-start:5;
	grid-column-end:22;
	background-color: #004382;
  z-index: 2;
  margin-top: -180px;
  max-width: 1920px;
  max-height: 364px;


}

.two {
	grid-row-start:2;
	grid-row-end:6;
	grid-column-start:10;
	grid-column-end:22;
  max-width: 799px;
  max-height: 1192px;
  background: url(img/DeE6oWFXkAA8biE.jpg);
  background-position: center;
  background-size: cover;
  box-shadow: 3rem 5rem #004382;
  box-sizing: border-box;
}

.three {
grid-row-start: 2;
grid-row-end: 5;
grid-column-start: 1;
grid-column-end: 10;
/* background-color: tomato; */
min-width: 685px;
min-height: 915px;

}

.four {
	grid-row-start:6;
	grid-row-end:8;
	grid-column-start:1;
	grid-column-end:22;
	background-color: navy;
  background-image: linear-gradient(rgba(255, 195, 0, 0.7),rgba(255, 195, 0, 0.7)),url(img/AyrtonSennaRoland.jpg);
  background-position: center;
  background-size: cover;
  margin-top: 130px;

  z-index: 2;
}

.bottom_page{
  display: grid;
  grid-template-columns: inherit;
  grid-template-rows: repeat(2, 1fr);
  grid-row-start:8;
	grid-row-end:12;
	grid-column-start:1;
	grid-column-end:22;
	background-color: #fff;
  grid-gap: 20px;
  margin-top: 100px;
}

.bottom_page img{

  grid-row-start:1;
	grid-row-end:4;
	grid-column-start:12;
	grid-column-end:17;
  z-index: 2;
  padding-top: 50px;
}

#archive{
  font-size: 60px;
  font-weight: 800;
  text-align: left;
  color: #fff;

  grid-row-start:8;
  grid-row-end:8;
  grid-column-start:2;
  grid-column-end:4;
  align-self: start;
  padding-top: 20px;
  z-index: 1;

}

.five {
  grid-row-start:1;
	grid-row-end:3;
	grid-column-start:1;
	grid-column-end:9;
	/* background-color: orange; */
  background: url(img/image16x9img1536high.jpg);
  background-position: center;
  background-size: cover;
}

.five p{
  font: normal normal bold 60px/74px Helvetica Neue;
  text-align: left;
  /* align vertically - align horizontally use justify-self (baseline, left, center,right) */
  margin-left: 185px;
  margin-top: 50px;
  color: #fff;
}


.six {
	grid-row-start:1;
	grid-row-end:2;
	grid-column-start:9;
	grid-column-end:15;
  background: url(img/ss-1.jpg);
  background-position: center;
  background-size: cover;

}

.seven {
  grid-row-start:1;
	grid-row-end:2;
	grid-column-start:15;
	grid-column-end:22;
	/* background-color: tomato; */
	/* background-color: orange; */
  background: url(img/Ayrton-Senna-PA.jpg);
  background-position: center;
  background-size: cover;
  margin-left: 10px;
}

.eight {
  grid-row-start:2;
	grid-row-end:3;
	grid-column-start:9;
	grid-column-end: 15;
	background-color: cyan;
  background: url(img/Ayrton-Senna-F1.jpg);
  background-position: center;
  background-size: cover;
	/* margin-left: 40px; */
}

.nine {
  grid-row-start:2;
	grid-row-end:3;
	grid-column-start:15;
	grid-column-end:22;
	/* background-color: black; */
  background: url(img/personal-8.jpg);
  background-position: center;
  background-size: cover;
  margin-left: 10px;
	/* margin-left: 60px; */
}

footer{
/* grid-area: footer; */
/* position: fixed; */
display: flex;
padding: 40px 120px;
justify-content: center;
align-items: center;
flex-direction: row;
flex-wrap: wrap;
background-color: #fff;
}

footer p{
  display: flex;
  flex-basis: auto;
  float: right;
  /* justify-content: flex-end; */
  /* align-items: center; */
  /* flex-direction: row; */
  color: #004382;
  font-size:16px;
  font-weight: bold;
  padding-top: 10px;

}

.nav-footer{
  flex:1;
}

.nav-footer ul{

  margin-left: 50px;
  display:inline;
  /* float: right; */
}

.nav-footer ul li{
  list-style: none;
  display:inline-block;
  padding: 8px 25px;
}

.nav-footer ul a{
  font-size: 18px;
  font-weight: 700;
  color: white;
  text-decoration: none;
  font-size:14px;
}

.nav-footer ul li::after{
  content: '';
  width: 0;
  height: 2px;
  background: yellow;
  display: block;
  margin: auto;
  transition: .5s;
}

.nav-footer ul li:hover::after{
  width: 100%;
}



footer .nav-footer ul a{
  color: #004382;
  text-decoration: none;
  font-size:14px;
}

footer .nav-footer ul li::after{
  content: '';
  width: 0;
  height: 2px;
  background: #00AC43;
  display: block;
  margin: auto;
  transition: .5s;
}

 footer .nav-footer ul li:hover::after{
  width: 100%;
}


/* Hidden on large screen devices */
.nav-bar .fa{
  display: none;
}
/* responsive */

@media (max-width:1260px) {

  .nav-bar{
    /* padding: 10px 30px;
    display: flex; */
    width: 100vw;
  }
  .fa-bars{
    position: absolute;
    right: 20px;
    top: 10px;
  }
  .nav-bar .fa{
    display: block;
    color: #fff;
    margin: 10px 25px;
    font-size: 22px;
    cursor: pointer;
  }
  .nav-links{
    height: 100vh;
    width: 100vw;
    background: #000;
    top:0;
    right: -100vw;
    position: absolute;
    text-align: left;
    z-index: 2;
    transition: 0.5s;
  }
  .nav-links ul a{
    display: block;
  }

  .nav-links .btn{
    float: none;
    margin-left: 25px;
    margin-top: 10px;
  }

}
@media (max-width:750px) {

    .banner-title{
      margin: 160px 130px;
    }

    .banner-title h1{
      font-size: 40px;
    }

    .hero{
      width: 100vw;
    }


    .grid{
      grid-template-columns: auto;
      grid-template-rows: repeat(5,auto);
      width: 100vw;
      grid-gap: 0;

    }

    .one {
      grid-row-start: 1;
      grid-row-end: 2;
      grid-column-start: 1;
      grid-column-end: 2;
      width: 100vw;
      height: 500px;
      margin-top: 0;

    }

    .two {
    	grid-row-start:2;
    	grid-row-end:3;
    	grid-column-start:1;
    	grid-column-end:2;
      width: 100vw;
      height: 500px;

    }

    .three {
    	grid-row-start:3;
    	grid-row-end:4;
    	grid-column-start:1;
    	grid-column-end:2;
      width: 100vw;
      height: auto;

      }

      .four {
      	grid-row-start:4;
      	grid-row-end:5;
      	grid-column-start:1;
      	grid-column-end:2;
        width: 100vw;
        height: 500px;
        margin-top: 0;

        }

        .bottom_page{
          grid-template-columns: inherit;
          grid-template-rows: repeat(7,auto);
          grid-row-start:6;
        	grid-row-end:7;
        	grid-column-start:1;
        	grid-column-end:2;
          width: 100vw;
        	background-color: rgba(0, 67, 130, 1);
          grid-gap: 0;
          margin-top: 0;
        }
        .bottom_page img{

          grid-row-start:3;
        	grid-row-end:4;
        	grid-column-start:1;
        	grid-column-end:2;
          width: 70vw;
          height: 334px;
          z-index: 2;
          margin-top: -150px;
          /* margin-left: 80px; */
        }

        .five {
        	grid-row-start:1;
        	grid-row-end:2;
        	grid-column-start:1;
        	grid-column-end:2;
          grid-gap: 0;
          z-index: 1;
          display: grid;
          width: 100vw;
          height: 350px;
          margin-top: 0;
          grid-template-columns: 70% 30%;
        }

        .six {
        	grid-row-start:2;
        	grid-row-end:3;
          grid-column-start:1;
        	grid-column-end:2;
          width: 100vw;
          height: 350px;
          margin-top: 0;
          /* margin-bottom: -50px; */

        }

        #archive{
          font-size: 40px;
          text-align: center;
          color: #fff;

          grid-row-start:5;
          grid-row-end:6;
          grid-column-start:1;
          grid-column-end:2;
          align-self: start;
          padding:50px;
          z-index: 0;

        }


        .seven {
        	grid-row-start:3;
        	grid-row-end:4;
          grid-column-start:1;
        	grid-column-end:2;
          width: 100vw;
          height: 300px;
          margin-left: 0;
        }

        .eight {
          grid-row-start:4;
        	grid-row-end:5;
          grid-column-start:1;
        	grid-column-end:2;
          width: 100vw;
          height: 300px;

        }

        .nine {
          grid-row-start:5;
        	grid-row-end:6;
          grid-column-start:1;
        	grid-column-end:2;
          width: 100vw;
          height: 300px;
          margin-left: 0;

        }
        .five p{
          font-size:36px;
          text-align: left;
          font-weight: 800;
          margin-left: 100px;
          align-self: center;
          color: #fff;
        }
        .five #btn_five{

          font-size: 16px;
          font-weight: 700;
          border: 0;
          background: #004382;
          cursor: pointer;
          color: #fff;
          height: 40px;
          width: 100px;
          align-self: center;
          padding: 10px;
            /* padding-bottom: 350px; */
        }

        .caption{
        font-size: 40px;
        text-align: center;
        align-self: end;
        justify-self:center;
        /* padding: 25px; */
        color: #fff;
        }


        .title_articles{
          font-size: 26px;
          line-height: 35px;
          font-weight: bold;
          padding-left: 100px;
          padding-top: 0;
          color: #004382;

        }

        .text_articles{
        font-size: 16px;
        line-height: 25px;
        font-weight: normal;
        padding: 50px 40px;

        color: #fff;


        }

        footer{

        /* display: flex;

        justify-content: center;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        background-color: #fff; */
        display: grid;
        width: 100vw;
        padding: 40px 0;

        }

        footer .nav-footer{
          /* right:0; */
          text-align: center;
        }

        footer p{
          /* display: flex;
          flex-basis: auto;
          float: right; */
          color: #004382;
          font-size:16px;
          font-weight: bold;
          padding-top: 10px;

        }


        footer .nav-footer ul a{
          color: #004382;
          text-decoration: none;
          font-size:14px;

        }

        footer .nav-footer ul li::after{
          content: '';
          width: 0;
          height: 2px;
          background: #00AC43;
          /* display: block; */
          margin: auto;
          transition: .5s;
        }

         footer .nav-footer ul li:hover::after{
          width: 100%;
        }
}
